extends layout

block content
  header(class="bg-primary text-white")
    .container(class="mx-auto p-4 flex items-center justify-between")
      .flex.items-center
        img(src="/img/Logotipo 3D Render Connect.svg" alt="3D Render Connect" class="")
      div(class="hidden md:flex space-x-6 items-center")
        nav(class="flex space-x-6")
          a(href="/", class="hover:text-secondary transition-colors duration-300") Inicio
          a(href="/servicios", class="hover:text-secondary transition-colors duration-300") Servicios
          a(href="/materiales", class="hover:text-secondary transition-colors duration-300") Materiales
          a(href="/tienda", class="hover:text-secondary transition-colors duration-300") Tienda
          a(href="https://www.facebook.com/profile.php?id=61561604617809", class="hover:text-secondary transition-colors duration-300") Contacto
        a(href="/registro", class="bg-secondary text-white px-4 py-2 rounded ml-4 hover:bg-opacity-80 transition-colors duration-300") Regístrate →
      button(id="menu-toggle" class="md:hidden text-white" onclick="toggleMenu()")
        | ☰
    div(id="mobile-menu" class="hidden md:hidden mt-4 text-center")
      nav(class="flex flex-col space-y-4")
        a(href="/", class="hover:text-secondary transition-colors duration-300") Inicio
        a(href="/servicios", class="hover:text-secondary transition-colors duration-300") Servicios
        a(href="/materiales", class="hover:text-secondary transition-colors.duration-300") Materiales
        a(href="/tienda", class="hover:text-secondary transition-colors duration-300") Tienda
        a(href="https://www.facebook.com/profile.php?id=61561604617809", class="hover:text-secondary transition-colors duration-300") Contacto
        a(href="/registro", class="bg-secondary text-white px-4 py-2 rounded hover:bg-opacity-80 transition-colors duration-300") Regístrate →
      button(class="text-white mt-4" onclick="toggleMenu()")

  //- Hero Section
  .hero-section(class="bg-white text-center py-16 relative")
    .container(class="mx-auto px-4")
      h1(class="text-5xl font-bold mb-4 text-primary") Transforma tus ideas en realidad
      p(class="text-xl mb-8 text-mediumGray") Diseña y produce objetos únicos y funcionales con facilidad
    .container(class="mx-auto px-4 flex flex-col lg:flex-row items-center justify-center relative")
      div(class="absolute left-20 transform -translate-x-1/2 lg:translate-x--4 lg:left-auto lg:-ml-40 z-10")
        img(src="/img/left.svg" alt="Left Image" class="w-24 md:w-32 lg:w-40")
      div(class="flex flex-col items-center justify-center space-y-4 z-20")
        a(href="#", class="bg-highlight text-white px-6 py-3 rounded-lg shadow-lg hover:bg-highlight-dark transition-colors duration-300") Sube tu archivo
        a(href="#", class="bg-highlight text-white px-6 py-3 rounded-lg shadow-lg hover:bg-highlight-dark transition-colors duration-300") Solicita un diseño
      div(class="absolute right-20 transform translate-x-1/2 lg:translate-x-40 lg:right-auto lg:-mr-40 z-10")
        img(src="/img/right.svg" alt="Right Image" class="w-40 md:w-40 lg:w-80")
    div(class="mt-16 text-center")
      h2(class="text-4xl mb-8 font-bold text-darkGray") ¿Por qué Elegirnos?
      p(class="text-lg  text-mediumGray") Prestamos servicio de diseño e impresión 3D al público en general de acuerdo con sus necesidades ofreciendo una solución completa y personalizada con materiales e impresoras de alta calidad. 

  //- Características
  .features-section(class="bg-gray-100 py-16")
    .container(class="mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8 text-center")
      .feature
        i(class="fas fa-check-circle text-secondary text-5xl mb-4") 
        h3(class="text-2xl font-bold mb-2 text-darkGray") Alta precisión y calidad
        p(class="text-mediumGray") Nos permite realizar impresiones a todo color en 3D con realismo fotográfico y así mostrar al detalle el producto final. 
      .feature
        i(class="fas fa-cubes text-secondary text-5xl mb-4") 
        h3(class="text-2xl font-bold mb-2 text-darkGray") Variedad de Materiales
        p(class="text-mediumGray") Utilizamos punteros en calidad y versatilidad. Te damos la posibilidad de imprimir en cualquier color y con diferentes materiales como ABS, SLA materiales resistentes a ácidos y solventes, traslucidos, transparentes y flexibles. 
      .feature
        i(class="fas fa-headset text-secondary text-5xl mb-4") 
        h3(class="text-2xl font-bold mb-2 text-darkGray") Asistencia Técnica
        p(class="text-mediumGray") Ofrecemos un servicio ajustado a tus necesidades para poder imprimir todo aquello que necesites. Te recomendamos posibles materiales, acabados y opciones de fabricación dependiendo de las características que requiera tu pieza. 

  //- Nuestro Proceso en 3 Pasos
  .process-section(class="bg-white py-16")
    .container(class="mx-auto px-4 text-center")
      h2(class="text-4xl font-bold mb-4 text-darkGray") "Nuestro Proceso en 3 
      h2(class="text-4xl font-bold mb-4 text-darkGray") Pasos"
      p(class="text-mediumGray mb-12 text-xl") En 3D Render Connects, simplificamos el camino hacia la materialización de tus ideas con un proceso claro y eficiente en tres pasos:
    .container(class="mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8 text-center")
      .step
        i(class="fas fa-search text-secondary text-5xl mb-4") 
        h3(class="text-xl font-bold mb-2 text-darkGray") Explora y Selecciona
        p(class="text-mediumGray") Sube tu archivo o contacta a nuestro equipo de Diseño
      .step
        i(class="fas fa-file-alt text-secondary text-5xl mb-4") 
        h3(class="text-xl font-bold mb-2 text-darkGray") Cotización y confirmación
        p(class="text-mediumGray") Recibe una cotización detallada y confirma tu pedido
      .step
        i(class="fas fa-shipping-fast text-secondary text-5xl mb-4") 
        h3(class="text-xl font-bold mb-2 text-darkGray") Producción y entrega
        p(class="text-mediumGray") Imprimimos tu diseño y lo entregamos a tu puerta

  //- Nuestros Servicios
  .services-section(class="bg-primary text-white py-24")
    .container(class="mx-auto px-8 grid grid-cols-1 lg:grid-cols-2 gap-8 items-center")
      .services-text
        h2(class="text-5xl font-bold mb-4") Nuestros Servicios
        p(class="text-white text-xl mb-8") Descubre cómo en 3D Render Connects combinamos creatividad y tecnología avanzada para ofrecerte soluciones integrales en diseño e impresión 3D. Desde la conceptualización hasta la materialización, estamos comprometidos a transformar tus ideas en realidad con precisión y calidad excepcional. Explora nuestros servicios destacados:
        div(class="flex flex-col space-y-4")
          a(href="#", class="bg-highlight text-white w-48 text-center px-6 py-3 rounded-lg shadow-lg hover:bg-highlight-dark transition-colors duration-300") Diseño 3D
          a(href="#", class="bg-highlight text-white w-48 text-center px-6 py-3 rounded-lg shadow-lg hover:bg-highlight-dark transition-colors duration-300") Impresión 3D
      .services-image
        img(src="/img/frame.png" alt="Nuestros Servicios" class="w-full")

  //- Nuestros Trabajos
  .works-section(class="bg-white py-16")
    .container(class="mx-auto px-4 text-center")
      h2(class="text-4xl font-bold mb-4 text-darkGray") Nuestros Trabajos
      p(class="text-mediumGray text-xl mb-12") Descubre algunos de nuestros proyectos destacados en 3D Render Connects, donde combinamos innovación y precisión para crear soluciones de diseño e impresión 3D que cumplen con las más altas expectativas.
    .container(class="mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8 text-center")
      .work.bg-gray-100.p-4.rounded-lg.shadow-lg
        img(src="/img/t1.jpg" alt="Trabajo 1" class="w-full mb-4 rounded-lg")
        h3(class="text-lg font-bold mb-2 text-darkGray") En 3D Render Connects, ofrecemos un servicio integral de diseño 3D, transformando tus ideas en modelos tridimensionales precisos y detallados. Nuestro equipo de diseñadores expertos utiliza las últimas tecnologías y software de modelado para crear soluciones innovadoras que cumplen con tus especificaciones exactas.
        a(href="#" class="text-secondary hover:underline") Ver más →
      .work.bg-gray-100.p-4.rounded-lg.shadow-lg
        img(src="/img/t2.jpg" alt="Trabajo 2" class="w-full mb-4 rounded-lg")
        h3(class="text-lg font-bold mb-2 text-darkGray") En 3D Render Connects, ofrecemos servicios de impresión 3D para la creación de repuestos personalizados y de alta calidad. Nuestra tecnología avanzada nos permite producir piezas precisas y duraderas en poco tiempo, asegurando que tus equipos y productos vuelvan a funcionar sin demoras.
        a(href="#" class="text-secondary hover:underline") Ver más →
      .work.bg-gray-100.p-4.rounded-lg.shadow-lg
        img(src="/img/t3.jpg" alt="Trabajo 3" class="w-full mb-4 rounded-lg")
        h3(class="text-lg font-bold mb-2 text-darkGray") En 3D Render Connects, transformamos tus diseños arquitectónicos en maquetas precisas y detalladas utilizando tecnología avanzada de impresión 3D. Nuestras maquetas permiten visualizar proyectos de manera tangible, facilitando presentaciones impactantes y efectivas.
        a(href="#" class="text-secondary hover:underline") Ver más →

  //- Lo que Dicen Nuestros Clientes
  .testimonials-section(class="bg-primary py-16")
    .container(class="mx-auto px-4")
      h2(class="text-3xl font-bold mb-12 text-white text-center") Lo que Dicen Nuestros Clientes
      .div(class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8")
        .testimonial.bg-white.p-6.rounded-lg.shadow-lg
          .testimonial-header.flex.items-center.mb-4
            img(src="https://randomuser.me/api/portraits/men/1.jpg" alt="Juan Pérez" class="w-12 h-12 rounded-full mr-4")
            .testimonial-author
              h3(class="text-lg font-bold text-darkGray") Juan Pérez
              p(class="text-sm text-mediumGray") CEO en Ejemplo Inc.
          p(class="text-mediumGray") “La calidad y precisión de las impresiones 3D que ofrece 3D Render Connects es insuperable. Su atención al detalle y profesionalismo nos han permitido desarrollar productos excepcionales.”
        .testimonial.bg-white.p-6.rounded-lg.shadow-lg
          .testimonial-header.flex.items-center.mb-4
            img(src="https://randomuser.me/api/portraits/women/2.jpg" alt="María López" class="w-12 h-12 rounded-full mr-4")
            .testimonial-author
              h3(class="text-lg font-bold text-darkGray") María López
              p(class="text-sm text-mediumGray") Diseñadora Industrial
          p(class="text-mediumGray") “El equipo de 3D Render Connects no solo ofrece un servicio de impresión 3D de alta calidad, sino que también proporciona una asesoría invaluable durante todo el proceso. Recomiendo sus servicios sin dudarlo.”
        .testimonial.bg-white.p-6.rounded-lg.shadow-lg
          .testimonial-header.flex.items-center.mb-4
            img(src="https://randomuser.me/api/portraits/men/3.jpg" alt="Carlos Martínez" class="w-12 h-12 rounded-full mr-4")
            .testimonial-author
              h3(class="text-lg font-bold text-darkGray") Carlos Martínez
              p(class="text-sm text-mediumGray") Ingeniero Mecánico
          p(class="text-mediumGray") “Gracias a 3D Render Connects, hemos podido prototipar y producir piezas complejas con una calidad impresionante. Su servicio al cliente y tiempos de entrega son excepcionales.”
        .testimonial.bg-white.p-6.rounded-lg.shadow-lg
          .testimonial-header.flex.items-center.mb-4
            img(src="https://randomuser.me/api/portraits/women/4.jpg" alt="Ana García" class="w-12 h-12 rounded-full mr-4")
            .testimonial-author
              h3(class="text-lg font-bold text-darkGray") Ana García
              p(class="text-sm text-mediumGray") Arquitecta
          p(class="text-mediumGray") “Las maquetas impresas en 3D de 3D Render Connects nos han permitido presentar nuestros proyectos de manera mucho más efectiva. La calidad y detalle de sus impresiones son incomparables.”
        .testimonial.bg-white.p-6.rounded-lg.shadow-lg
          .testimonial-header.flex.items-center.mb-4
            img(src="https://randomuser.me/api/portraits/men/5.jpg" alt="Luis Rodríguez" class="w-12 h-12 rounded-full mr-4")
            .testimonial-author
              h3(class="text-lg font-bold text-darkGray") Luis Rodríguez
              p(class="text-sm text-mediumGray") Artista 3D
          p(class="text-mediumGray") “He trabajado con varios servicios de impresión 3D, y 3D Render Connects es, con diferencia, el mejor. Su precisión y calidad superan todas mis expectativas.”
        .testimonial.bg-white.p-6.rounded-lg.shadow-lg
          .testimonial-header.flex.items-center.mb-4
            img(src="https://randomuser.me/api/portraits/women/6.jpg" alt="Beatriz Fernández" class="w-12 h-12 rounded-full mr-4")
            .testimonial-author
              h3(class="text-lg font-bold text-darkGray") Beatriz Fernández
              p(class="text-sm text-mediumGray") Diseñadora Gráfica
          p(class="text-mediumGray") “La flexibilidad y variedad de materiales que ofrece 3D Render Connects nos ha permitido explorar y desarrollar productos innovadores. Su atención al cliente es ejemplar.”



  //- Preguntas Frecuentes
  .faq-section(class="bg-white py-16")
    .container(class="mx-auto px-4 text-center")
      h2(class="text-4xl font-bold mb-4 text-darkGray") Preguntas Frecuentes
      p(class="text-mediumGray text-xl mb-12") Aquí tienes respuestas a algunas preguntas comunes sobre nuestros servicios en 3D Render Connect:
      a(href="#" class="bg-secondary text-white px-6 py-3 rounded-lg shadow-lg hover:bg-secondary-dark transition-colors duration-300 mb-8 inline-block") Learn More
    .container(class="mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 text-left")
      .faq-item
        i(class="fas fa-question-circle text-secondary text-2xl mb-2")
        h3(class="text-xl font-bold mb-2 text-darkGray inline-block ml-2") ¿Qué se necesita para imprimir 3D?
        p(class="text-mediumGray ml-8") Preparar un archivo para impresión 3D implica convertir un modelo digital en un formato que pueda ser leído por una impresora 3D.
      .faq-item
        i(class="fas fa-question-circle text-secondary text-2xl mb-2")
        h3(class="text-xl font-bold mb-2 text-darkGray inline-block ml-2") No tengo el archivo 3D ¿Ustedes prestan ese servicio?
        p(class="text-mediumGray ml-8") Nuestra especialidad es el modelado 3D de piezas industriales con medidas precisas y tolerancias establecidas según el uso previsto para la pieza.
      .faq-item
        i(class="fas fa-question-circle text-secondary text-2xl mb-2")
        h3(class="text-xl font-bold mb-2 text-darkGray inline-block ml-2") ¿Cuál es el material más recomendado?
        p(class="text-mediumGray ml-8") Dependiendo del uso de su pieza y la resistencia requerida nosotros le recomendamos el mejor material con el cual se encuentre siempre un balance entre calidad-precio.
      .faq-item
        i(class="fas fa-question-circle text-secondary text-2xl mb-2")
        h3(class="text-xl font-bold mb-2 text-darkGray inline-block ml-2") ¿Cuánto demora la producción?
        p(class="text-mediumGray ml-8") Depende de la cantidad de piezas. Usualmente para impresiones entre 1 a 100 piezas la producción tomaría entre 1 a 2 días. Para cantidades superiores el tiempo de entrega se definirá en la cotización formal.

  //- ¿Tienes alguna pregunta?
  .contact-section(class="bg-gray-100 py-16 text-center")
    .container(class="mx-auto px-4")
      h2(class="text-3xl font-bold mb-16 text-darkGray") ¿Tienes alguna pregunta?
      a(href="#" class="bg-secondary text-white px-6 py-3 rounded-lg shadow-lg hover:bg-secondary-dark transition-colors duration-300") Contáctanos →

  //- Footer
  footer(class="bg-primary text-white py-16")
    .container(class="mx-auto px-4 grid grid-cols-1 md:grid-cols-4 gap-8 text-center md:text-left")
      //- Logo y Derechos
      .footer-logo
        img(src="/img/Logotipo 3D Render Connect.svg" alt="3D Render Connect" class="mb-4 mx-auto md:mx-0")
        p © 2024 3D Render Connects
        p Todos los derechos reservados.
        //- Redes Sociales
        div(class="social-icons flex justify-center md:justify-start mt-4")
          a(href="#" class="text-white mx-2")
            i(class="fab fa-instagram")
          a(href="#" class="text-white mx-2")
            i(class="fab fa-dribbble")
          a(href="#" class="text-white mx-2")
            i(class="fab fa-twitter")
          a(href="#" class="text-white mx-2")
            i(class="fab fa-youtube")

      //- Enlaces Company
      .footer-links
        h3(class="font-bold mb-4") Company
        a(href="#" class="block mb-2 hover:text-secondary") Inicio
        a(href="#" class="block mb-2 hover:text-secondary") Servicio
        a(href="#" class="block mb-2 hover:text-secondary") Contacto
        a(href="#" class="block mb-2 hover:text-secondary") Tienda
        a(href="#" class="block mb-2 hover:text-secondary") Contacto

      //- Enlaces Recursos
      .footer-links
        h3(class="font-bold mb-4") Recursos
        a(href="#" class="block mb-2 hover:text-secondary") Preguntas Frecuentes
        a(href="#" class="block mb-2 hover:text-secondary") Términos y condiciones
        a(href="#" class="block mb-2 hover:text-secondary") Política de Privacidad
        a(href="#" class="block mb-2 hover:text-secondary") Soporte técnico

      //- Mantente Actualizado
      .footer-newsletter
        h3(class="font-bold mb-4") Mantente Actualizado
        form(action="#" method="POST" class="flex flex-col md:flex-row items-center md:items-start")
          input(type="email" name="email" placeholder="Your email address" class="bg-white text-gray-800 px-4 py-2 rounded-lg mb-4 md:mb-0 md:mr-4 w-full md:w-auto")
          button(type="submit" class="bg-secondary text-white px-6 py-2 rounded-lg hover:bg-secondary-dark transition-colors duration-300") 
            i(class="fas fa-paper-plane")
